.app-footer-container {
    direction: rtl;
    position: sticky;
    bottom: 0px;
    grid-column: 1/-1;
    background-color: var(--clr2);

    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);


    .logo-footer-container {
        padding-block: 10px; 
   
    border-bottom: 1px solid rgb(148, 184, 228);

        .img-wrapper {
            width: 25%;
             @include  for-1030px{
                width: 15em;
             }
            .logo-footer {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .social-networks-links {
        margin: 0;

        padding-block: 1em;
.facebook-wrapper{
    gap: 15px;
    justify-content: center;
    margin-inline-end: 1em;
    cursor: pointer;
 .facebook{
    .facebook-svg{
        fill: var(--clr1) ;
   
    }
    .fb-txt{
        margin-inline-end: 1em;
    }
 }
}
}
.all-right-reserved{
  background-color: var(--clr3);
  min-height: 3em;
  color : #fff;
  .website-creator{
      margin-inline-start: 1em;
  }
  .flash-svg{
      fill:#fff
    }
}

}