.app-footer-container{
position: sticky;
    bottom: 0px;
    grid-column: 1/-1;
    background-color: var(--clr2);



    .logo-footer-container{
    
        .img-wrapper{
            width: 25% ;
            .logo-footer{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}