.app-header {
    grid-template-columns: minmax(140px, 1fr) minmax(auto, 1330px) minmax(350px, 1fr);
    padding: 18px;
    border-bottom: 1px solid #efe;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  

    .header-content-container {
        grid-column: 2;
        grid-row: 1;
    }

    .logo-container {
     
        width: 15%;

        .logo-link {
            flex-direction: column;
            width: 120px;
            height: 67px;

            .logo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
                border-radius: 60px;
            }

        }

    }

    .main-menu {
        gap: 10px;

        .link-container {
            .heaer-link {
                color: #222;
            }
            .about-link{
                color: #222;

            }
        }

    }
    .action-btns{
        grid-column: 3;
        align-items: center;
        justify-content: end;
         .cart-svg{
            margin-inline-end: 20px;
            cursor: pointer;
        }

    }
    .btn-signin-container {
        align-items: center;
        justify-content: center;
        margin-inline-end: 10px;
        .signup-btn {
            text-decoration: none;
            font-family: Circular-Med;
            cursor: pointer;
            user-select: none;
            background-color: #222;
            color: #fff;
            opacity: 1;
            border:none;
            font-weight: 600;
            font-size: 17px;
            height: 34px;
            max-width: 110px;
            padding: 24px;
            padding-left: 20px;
            padding-right: 20px;
            

            
        }
        .login-btn{
            background-color: transparent;
            color:#222;
            border: 1px solid #222;
            padding: 23px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
   
  .user-space{
    cursor: pointer;
    position: relative;
    .user-img{
        border-radius: 100px;
        width: 2.5em;
    }
    .user-menu{
        position: absolute;
        width: 140px;
        height: 200px;
        right: -17px;

        background-color: lightgray;
    }
  }
}