.course-overview-container{
    direction: rtl;
    padding-inline: 5em;

    @include for-narrow-layout {
        padding-inline: 1em;

}
    .schedule-learning-time-warpper{
        grid-template-columns:1fr 15fr;
   
        margin-top: 3em;
        padding: 1em;
        border: 1px solid #9e9b9b;
        width: 100%;
        // height: 12em;
        .alarm-svg{
    grid-column: 1;
    @include for-narrow-layout {
      width: 2em;

}
    @include for-mobile-layout {
      font-size: .8em;

}
    
}
.headline{
    margin-top: .5em;
    margin-bottom: .5em;
        grid-column: 2;
        margin-block-start: .5em;
        @include for-mobile-layout {
            font-size: 1em;
      
      }
    }
    .sub-headline{
        grid-column: 2;
        @include for-mobile-layout {
            font-size: .8em;
      
      }
    }
    }
    .about-this-course{
        font-size: 1.5em;
    }
}