.course-instructor-wapper{
    grid-column: 2;
    direction: rtl;
    margin-top: 15px;
    max-width: 44em;
    margin-inline-end: auto;
    margin-top: 20px;
    .headline{
        font-size: 1.8em;
        font-weight: bold;
        color: #222;
        margin-block: 16px;
    }
    .instructor-name{
        padding: 0;
        margin: 0;
        text-decoration: underline;
    }
    .instructor-title{
        margin-block:3px;
    }
}