.requirements-container{
    
    grid-column: 2;
    grid-template-columns: minmax(100px, 1fr) minmax(auto, 930px)minmax(10px, 250px);
    margin-top: 15px;
    max-width: 44em;
    margin-left: auto;
    @include for-tablet-breakpoint {
        // max-width: 48em;
          margin-inline-start: 14%;
      }
      @include for-940px {

        max-width: 100%;
        margin-inline:20px ;
      }
.course-requierments-warpper{
    grid-column: 2;
    flex-direction: column;
    align-items: end;

}
   .headline{
    font-size: 1.8em;
    font-weight: bold;
    // text-align: end;
    color: #222;
    margin-block: 16px;
    @include for-940px {
        margin-inline-end:1% ;
      }
   }
   .requirements-list{
    font-size: 1.2em;
    direction: rtl;
    gap:10px;
    color: #222;
    @include for-mobile-layout{
      font-size: 1em;
      padding-inline-start: 1em;
    }
   }
}