.course-instructor-wapper{
    grid-column: 2;
    direction: rtl;
    margin-top: 15px;
    max-width: 44em;
    margin-inline-end: auto;
    margin-top: 20px;
    @include for-tablet-breakpoint {
          margin-inline-start: 14%;
      }
      @include for-940px {

        max-width: 100%;
        margin-inline:20px ;
      }
    .headline{
        font-size: 1.8em;
        font-weight: bold;
        color: #222;
        margin-block: 16px;
        @include for-940px {
margin-inline-end: 1%;
          }
    }
    .instructor-info-container{
flex-direction: column-reverse;
        .img-contaier{
            width: 8em;
            .instructor-img{
                width: 100%;
                height: 8em;
                object-fit: cover;
                border-radius: 500px;
                object-position: 20% 20%; 
            }
        }
        .instructor-name{
            padding: 0;
            margin: 0;
            text-decoration: underline;
        }
        .instructor-title{
            margin-block:3px;
        }
    }
    .instructor-bio{
        direction: rtl;
    }
    
}