.courses-list-container{
    direction: rtl;
    .course-card-wrapper {
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 0.5em;
        .course-image-container{
             width: 20em;
            .coures-img {
                width: 100%;
            }
        }

    .sub-title {
        white-space: nowrap;
        width: 214px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 52px;

    }
}
.rate-this-course-btn{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #222222;
    cursor: pointer;
    
}
}
