.course-player-container {
    position: fixed;
    width: 755px;
    background-color: #111111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    top: 2em;
    left: 50%;
    translate: -50%;
    z-index: 100;
    color: #fff;

    @include for-narrow-layout {
        width: 80.5%;
    }

    @include for-mobile-layout {
        width: 90%;
    }

    .course-header {
        padding: 20px;
        align-items: start;
        direction: rtl;

        .title-container {
            p {
                margin: 5px;
                font-weight: bold;
            }

            .title {
                font-size: 1.2em;
                font-weight: bold;
                @include for-mobile-layout {
                    font-size: 0.7em;
                }
            }
        }

        .close-btn {
            cursor: pointer;
            z-index: 200;

            .x-svg {
                fill: #fff
            }
        }
    }

    .video-player-warpper {
        // position: relative;
        // bottom: 420px;

        // .player-wrapper {
        //     width: auto; // Reset width
        //     height: auto; // Reset height
        // }

        // .react-player {
        //     padding-top: 56.25%; // Percentage ratio for 16:9
        //     position: relative; // Set to relative
        // }

        // .react-player>div {
        //     position: absolute; // Scaling will occur since parent is relative now
        // }

    }
    .sample-videos-list{
        padding-inline-start:0 ;
    }
    .free-sample-video-container {
        max-height: 263px;
        overflow: scroll;
        padding-left: 0;
        direction: rtl;

        .headline {
            font-size: 1.2em;
            font-weight: bold;
            padding-inline-start: 2.5%;
        }

        .sample-videos-list {
            padding-left: 0px;

            .video-container {
                cursor: pointer;
                background-color: #111111;

                .wrapper-video-link {
                    padding: 20px;
                    @include for-mobile-layout  {
                        padding:0px;
                      
                           }
                   
                    .time-summary {
                        margin-left: auto;
                    }

                    .video-img-wrapper {
                        width: 80px;
                        height: 50px;

                        .video-img {
                            width: 100%;
                            aspect-ratio: 16/9;
                        }
                    }

                    .video-desc {
                        align-items: center;
                        justify-content: center;
                        .video-title{
                            margin-bottom: 12px;
                               @include for-mobile-layout  {
                         font-size: 0.8em;
                               } 
                        }
                    
                        .play-svg {
                            fill: #fefeff;
                            height: 25px;
                            margin-bottom: 12px;

                        }
                    }

                }
            }
        }
    }
}

.clicked-video {
    // padding: 20px;
    background-color: #971919;

}