.mobile-menu-container{
    position: absolute;
    right: 0;
    top:0;
    min-height: 100%; 
    width: 100%;
       background-color: #dcdcdc;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    z-index: 59;
    padding-inline: 3.5em;
    .mobile-menu-wrapper{
        padding-block: 4em;
        .list-links{
            position: relative;
            padding: 0;
            top:4em;
         cursor: pointer;
         .user-img-container {
            width: 2.5em;
            height: 2.5em;
            background-color: var(--clr1);
            border-radius: 100px;

            .user-img {
                color: #fff;
                font-size: 1.1em;
            }
        }
         .login-signup-group{
            margin-bottom: 3em;
        }
        .home-page-links{
             margin-bottom: 3em;

         }
         .link-container{
             min-height: 2em;
             border-bottom: 1px solid #222222;
             margin-bottom: 1em;
            .link{
            text-decoration: none;
            color: #585858;
           @include for-245px {
            font-size: 0.8em;
           }
            }
         }
        }
    }
}
.open{
    transition: transform 0.2s ease-in-out;
    transform: translateX(0%)!important;
}

.mobile-menu-svg {
    height: 32px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 10px;
}

.mobile-menu-svg span,
.mobile-menu-svg span::before,
.mobile-menu-svg span::after {
    background: #222222;        
    content: '';
    position: absolute;
    width: 22px;
    height: 3px;         
    margin-top: 13px;
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotateY(180deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.mobile-menu-svg span::before {
    margin-top:-8px;
}

.mobile-menu-svg span::after {
    margin-top:8px;
}

.mobile-menu-svg.active span {
    background: transparent;
}

.mobile-menu-svg.active span::before {
    margin-top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobile-menu-svg.active span::after {
    margin-top: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobile-menu-svg.active {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}