
.sticky-modal-container {
    direction: rtl;
    grid-column: 1;
    grid-row: 1/-1;
    display: block;
    position: fixed;
    top: 2rem;
    right:  62.5%;
    margin-inline-end: auto;
    margin-inline-start: 1em;
    // left: culc(100%-20%);
    z-index: 70;
    max-width: 21.1em;
    @include for-normal-layout {
        display: none;
          }

    .modal-warpper {
        max-width: 21.5rem;
        min-height: 500px;
        z-index: 1;
        border-bottom: 1px solid #d1d7dc;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
        background-color: #fff;
        .preview-img-wrapper{
            cursor: pointer;
            width: 100%;
            .preview-course-img{
                width: 100%;
                object-fit: cover;
                position: relative;
            }
            .play-svg{
                position: absolute;
                fill:#fff;
                width:20em
            }
           
        }
        .black {
            text-align: center;
            height: 90px;
            width: 100%;
            background-color: #141516;
            position: relative;
            p{
          
                font-size: 1.5em;
                color: #fff;
               
            }
        }
       
    }
.actions-section{
    padding: 30px;
    .headline{
        padding-top: 0;
        font-size: 1.5em;
        margin-block-start: 0;
    }
    .action-btn{
        background-color: transparent;
        border : 1px solid #222;
        width:100%;
        padding: 17px;
        cursor: pointer;
        span{
            font-size: 1.5em;
        }
    }
    .full-life-time{
        text-align: center;
        padding-top: 0px;
    }
    .price{
        border-top: 1px solid #d1d7dc;
        margin-top: 2em;
        padding: 17px ;
        font-size: 1.5em;

    }
}
    
}