.list-whats-includes-container {
    grid-column: 2;
    .headline {
        grid-column: 2;
        text-align: end;
        margin-inline-end: 0px
    }
    .list-container{

        .group {
            flex-direction: column;
            gap: 20px;
            padding-inline-end:0px ;
            padding-right: 28px;
    
        }
    
        .tv-svg {
            margin-inline-start: 10px;
        }
    
        .download-svg {
            margin-inline-start: 10px;
        }
    
        .mobile-svg {
            margin-inline-start: 10px;
        }
    
        .rocket-svg {
            margin-inline-start: 10px;
        }
    }




    
}