.list-whats-includes-container {
    grid-column: 2;
    direction: rtl;
    .headline {
        grid-column: 2;
        margin-inline-end: 0px;
        font-size: 1.5em;
        @include for-normal-layout {
            max-width: 100%;
       
        }
        
        @include for-tablet-breakpoint {
            max-width: 100%;
            margin-inline-start: 14%;

        }
        @include for-940px {
            max-width: 100%;
            margin-inline:20px ;
          }
    }
  
    .list-container{
        justify-content: start;
        margin-block: 35px;
        @include for-530px  {

            flex-direction: column;
          }
        .group {
            
            flex-direction: column;
            gap: 20px;
            padding-inline-start:20px ;
            padding-inline-end:20px ;
    
        }
    
        .tv-svg {
            min-width: 2em;
            margin-inline-end: 10px;
        }
    
        .download-svg {
            min-width: 2em;
            margin-inline-end: 10px;
        }
    
        .mobile-svg {
            min-width: 2em;
            margin-inline-end: 10px;
        }
    
        .infinite-svg {
            min-width: 2em;
            margin-inline-end: 10px;
        }
    }

    .list-container:last-child{
        padding-inline-end: 0;
    }


    
}