
.msg-container-success {
    background-color: lightgreen;
    position: absolute;
    top: 10em;
    right: 1em;
    padding: 1em;
}
.msg-container-error {
    background-color: lightcoral;;
    position: absolute;
    top: 10em;
    right: 1em;
    padding: 1em;
}