
    .list-container {
        justify-content: end;
        margin-block: 35px;
        border: 1px solid #9e9b9b;
        grid-column: 2;
        grid-template-columns: 1fr 1fr;
      
        .headline{
            grid-column: 2;
            text-align: end;
            margin-inline-end: 0px
    
        }
        .list-warpper{
            padding: 20px;
            .done-svg{
                margin-inline-end: 25px;
                fill:#222;
                
            }
            .group1{
                direction: rtl;
                grid-column: 1;
               flex-direction: column;
               row-gap:10px;
               padding-right: 8px;
            }
            .group2{
                direction: rtl;
                grid-column: 2;
                flex-direction: column;
                row-gap:10px;
                padding-right: 0px;
            }
        
      
        }
}