.main-layout {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 1730px) minmax(50px, 1fr);
    background-color: #faf2e6;
    @include for-normal-layout {
     grid-template-columns: minmax(10px, 1fr) minmax(auto, 900px) minmax(10px, 1fr)!important ;
    }
    @include for-mobile-layout {
     grid-template-columns: minmax(10px, 1fr) minmax(auto, 200px) minmax(10px, 1fr)!important ;
    }
}



