.edit-user-container {
    direction: rtl;
    grid-column: 2;

    .headline-container {
        padding-top: 3em;
        flex-direction: row-reverse;

        @include for-mobile-layout {
            margin-top: 3em;
        }

        .back-svg {
            cursor: pointer;
            color: var(--clr3);

            @include for-mobile-layout {
                width: 25px;
            }
        }
    }

    .edit-user-wrapper {
        padding-block: 5em;
        flex-direction: column;

        .is-add-course {
            text-decoration: underline;
            color: var(--clr1);
            cursor: pointer;
            text-align: center;
        }

        .add-course-modal-container {
            position: absolute;
            top: 50%;
            translate: -50%;
            left: 50%;
            background-color: #fff;
            padding: 2em;
            transform: translateY(-50%);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            @include for-mobile-layout {
                padding: .5em;
            }

            .close-add-course-modal {
                position: absolute;
                top: 10px;
                left: 10px;
                cursor: pointer;
            }

            .add-course-from {
                gap: 5px;

                .headline {
                    font-size: 1.2em;
                    margin-bottom: 2em;

                }

                .select-courses {
                    height: 3em;
                    font-size: 18px;
                    text-indent: 20px;
                    background-color: var(--clr4);
                    border: 1px solid rgba(100, 100, 111, 0.2);
                    margin-bottom: 2em;

                    @include for-mobile-layout {
                        font-size: 14px;
                    }


                }
            }

        }

        .edit-user-form {
            gap: 1em;

            .edit-user-input {
                height: 3.2em;
                font-size: 18px;
                font-weight: bold;
                text-indent: 20px;
                border: 1px solid #222;
            }
        }

        .edit-user-btn {
            height: 3em;
            font-size: 1.1em;
            cursor: pointer;
        }
    }
}