.home-page-container {
    grid-column:2;
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 1000px) minmax(50px, 1fr);

    height: 86vh;
    .carousel-container {
        grid-column:2;
        max-width: 1000px;
    .home-greeting{
        font-size: 1.2rem;
    }
    }
    .title-container{
        grid-column: 2;
    }
}
.carousel-img{
    width: 100%;
    max-height: 350px;
}
