.my-leanring-container{
    grid-column: 1/-1;
    // max-height:63.6em;
    
    .my-learning-warpper{
    position: relative;
    grid-template-columns: minmax(20%, 75%) minmax(8em, 25%);
    grid-template-rows: minmax(10%, 70vh) minmax(10%, 50vh);;
    .video-player-container{
        grid-column: 1;   
        grid-row: 1;
        max-height: 100%;
        width: 100%;
        
    .video-player-warpper {
        position: relative;
        bottom: 420px;

        .player-wrapper {
            width: auto; // Reset width
            height: auto; // Reset height
        }

        .react-player {
            padding-top: 56.25%; // Percentage ratio for 16:9
            position: relative; // Set to relative
        }

        .react-player>div {
            position: absolute; // Scaling will occur since parent is relative now
        }

    }
    }
  
}

.course-menu-contianer{
    
    grid-column: 1;   
    grid-row: 2;

    min-height:27.5em;
    background-color: orange;
    .course-menu{
        direction: rtl;
        font-weight: 600;
        padding-inline-start: 1em;
        gap:3em;
        background-color: #fbfbfb;
        border-top:1px solid #3333;
        border-bottom:1px solid #9c9c9c ;
    }
    .menu-link-wrapper{

        height: 2.5em;
        .link{
            color: #222222;
            
        }
    }
}}
.link-active{
    border-bottom: 1px solid #222222;
    .link{
        color: #222222;
        
    }
}