.my-leanring-container{
    grid-column: 1/-1;
    // max-height:63.6em;

    .my-learning-warpper{
    position: relative;
    grid-template-columns: minmax(20%, 75%) minmax(8em, 25%);
    grid-template-rows: minmax(10%, 70vh) minmax(10%, auto);
    @include for-940px {
        grid-template-rows: minmax(10%, 18%) minmax(10%, auto);
   
   }
    @include for-narrow-layout {
        display: block !important;
   
   }
    .open-content{
        position: absolute;
        cursor: pointer;
        right: 0;
        top:0;
        width: 10em;
        height: 5%;
        background-color: #222;
        color: #fff;
            @include for-narrow-layout {
               width: 5em;
               margin: 0;
               height: 25px;
           
           }
        }
        .display-content{
        //     @include for-mobile-layout {
        //         display: none;
           
        //    }
        }
    .video-player-container{
        grid-column: 1;   
        grid-row: 1;
        max-height: 100%;
        width: 100%;
        background-color: #222222;
        @include for-narrow-layout{
            margin-top: 0%;
        }
    //     @include for-mobile-layout{
    //         margin-top: 0%;
       
    //    }
    //     @include for-325px {
    //         margin-top: 20%;
       
    //    }
        .react-player {
            height: 100% !important;
            width: 100% !important;
            @include for-940px {
                height: 86%!important;
                width: 100% !important;           
           }
            @include for-narrow-layout {
                height: 330px!important;
                width: 100% !important;

    }
            @include for-mobile-layout {
                height: 250px!important;
                width: 100% !important;

    }
            @include for-370px {
                height: 220px!important;
                width: 100% !important;

    }
            @include for-325px {
                height: 170px!important;
                width: 100% !important;

    }
            @include for-270px {
                height: 150px!important;
                width: 100% !important;

    }
          
        }
        // for youtube settings
    // .video-player-warpper {
    //     position: relative;
    //     bottom: 420px;
        // .player-wrapper {
        //     width: auto; // Reset width
        //     height: auto; // Reset height
        // }

        // .react-player {
        //     height: 100% !important;
        //     width: 100%;
        //     padding-top: 56.25%; // Percentage ratio for 16:9
        //     position: relative; // Set to relative
        // }

        // .react-player>div {
        //     position: absolute; // Scaling will occur since parent is relative now
        // }

    // }
    }
  
}

.course-menu-contianer{
    
    grid-column: 1;   
    grid-row: 2;
.outlets-warpper{
    min-height: 44em;
}
    // min-height:27.5em;
    // background-color: orange;
    .course-menu{
        direction: rtl;
        font-weight: 600;
        padding-inline-start: 2em;
        gap:3em;
        background-color: #fbfbfb;
        border-top:2px solid #444444;
        border-bottom:1px solid #9c9c9c ;
        @include for-mobile-layout {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding-inline-start:0.3em;
            gap:1em;
            font-size: 0.9em;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
         }
        .search-svg{
            width:20px;
            height: 20px;
            margin-top: 0.5em;
        }
    }
    .menu-link-wrapper{

        height: 2.5em;
        .link{
            color: #222222;
            
        }
    }
}}
.link-active{
    border-bottom: 2px solid #222222;
    .link{
        color: #222222;
        
    }
}