.signup-container{
    grid-column: 2;
    grid-template-columns: 1fr 1fr;

    .signup-img-container{
        grid-column: 2;
        width: 100%;
        .signup-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
        }
    }
    .signup-form{
        flex-direction: column;
        grid-row: 1;
        grid-column: 1;
        gap: 30px;
    }
}